.formulario {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    width: 256px;
    padding: 10px;
}

.formulario Button {
    align-self: center;
    margin-top: 12px;
    width: 100%;
}

.modal {
    background-color: var(--background-color);
    border-radius: 8px;
}

.react-responsive-modal-closeButton {
    fill: aliceblue;
}