.secTable {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    height: auto;
}

.secTable table {
    background-color: var(--background-color);
    box-shadow: 0px 0px 15px 4px rgba(131, 148, 118, 0.3);
    border-radius: 8px;
    border: solid 2px var(--secundary-color);
    padding: 3px 6px;
    overflow: hidden;
}

.secTable tr {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;

    font-size: 18px;
}
.secTable tr:nth-child(1) {
    border-bottom: 1px solid var(--secundary-color);
    padding: 2px 0;
    margin-bottom: 4px;
}